.container-fluid
  .row.logo-header
    =image_tag "logo_white.svg", class: 'sign-up-logo'
  .row.justify-content-sm-center
    .col-lg-5.col-sm-10.sign-in
      %h1 Resend confirmation
      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .form-group
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control'
        .form-group
          .actions
            = f.submit 'Resend confirmation', class: 'btn btn-danger'
      = render 'devise/shared/links'
