.container-fluid
  .row.logo-header.justify-content-sm-center
    = link_to image_tag('logo_white.svg'), root_path, class: 'sign-up-logo'
  .row.justify-content-sm-center
    .col-lg-5.col-sm-10.sign-in
      %h1 Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form') do |f|
        = devise_error_messages!
        .form-group
          .field
            = f.label :first_name, autofocus: true
            = f.text_field :first_name, class: 'form-control'
        .form-group
          .field
            = f.label :last_name
            = f.text_field :last_name, class: 'form-control'
        .form-group
          .field
            = f.label :user_name
            = f.text_field :user_name, class: 'form-control'
        .form-group
          .field
            = f.label :email
            = f.email_field :email, class: 'form-control'
            %small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
        .form-group
          .field
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "off", class: 'form-control'
        .form-group
          .field
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
        .form-group
          .actions
            = f.submit "Sign up", class: 'btn btn-danger'
      = render "devise/shared/links"
