.container-fluid
  .row.logo-header
    =image_tag "logo_white.svg", class: 'sign-up-logo'
  .row.justify-content-sm-center
    .col-lg-5.col-sm-10.sign-in
      %h1 Sign in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, class: 'form-control'
        .form-group
          .field
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          - if devise_mapping.rememberable?
            %fieldset.form-group
              .form-check
                .field
                  %label.form-check-label{ for: 'remember_me' }
                    = f.check_box :remember_me, class: 'form-check-input'
                    Remember Me
        .form-group
          .actions
            = f.submit "Sign in", class: 'btn btn-danger'
      = render "devise/shared/links"
